<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Letter</title>
</head>
<style>
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 5px;
    }

    img {
        align-items: center;
        width: 150px;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 16px;
    }
</style>

<body>
    <img src="https://digigrowhub.in/wp-content/uploads/2021/10/digi-new.png" alt="Logo">
    <h2>Offer Letter</h2>
    <p> Dear <%= internName %>,<br>
            Congratulations on your selection for the internship position as <%= internRole %> at [Company Name]. We are
                delighted to extend this
                opportunity to you and have every confidence that you will make a meaningful contribution to our team.
                Your hard
                work, dedication, and enthusiasm have truly set you apart, and we believe that your time with us will be
                a
                rewarding and enriching experience.
                <br>
                <br>
                As an intern, you will have the chance to learn and grow alongside our experienced professionals,
                gaining
                valuable insights into the industry and developing essential skills that will serve you well in your
                future
                endeavors. We are excited to welcome you aboard and look forward to your valuable contributions.
                <br>
                <br>
                Once again, congratulations on your achievement. We are eager to embark on this journey with you and
                help you
                reach your full potential. Please feel free to reach out if you have any questions or require further
                information. Welcome to the [Company Name] family!
                <br>
                <br>
                Best regards,
                <br>
                Sanyam Gupta
                <br>
                Founder
                <br>
                DigiGrow Hub
                <br>
    </p>
</body>

</html>